body{
  margin: 0;
  margin-top: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  /* font-family:'Just Another Hand', cursive; */
  font-family: 'Sacramento', cursive;
  color: #FFF9B0;
  font-weight: 800;
  font-size: 375%;
  margin-top: 0;
  left: 0;
  right:0;
  display:inline-block;
  position: absolute;
  top:100px;
  text-align: center;
}


h2{
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-family: 'Montserrat', sans-serif;
}

h4{
  font-family:Courier New;
}

.top-container{
  background-color: #F8A1D1;
  position: relative;
  width: 100%;
  height: 300px;
}

/*
.my-title{
  font-family: 'Inconsolata', monospace;
  left: 0;
  right: 0;
  display: inline-block;
  position: absolute;
  top: 170px;
  line-height: 5pt;
}
*/

.right-cloud{
  height: 100px;
  position: absolute;
  top: 150px;
  right: 380px;
}

.right-cloud:hover{
  right:390px;
}

.left-cloud{
  height: 160px;
  position:absolute;
  top:20px;
  left:280px;
  /* filter: drop-shadow(10px 10px 2px #F8A1D1); */
}

.left-cloud:hover{
  left:270px;
}

.middle-container{
  height: 1500px;
  width: 100%;
  background-color: #FFEACA;
  position: relative;
}

.about-me{
  float: left;
  text-align: justify;
}

.about-me-header{
  color: #440A67;
  font-family: 'Oooh Baby', cursive;
  font-size: 30px;
  font-weight:bolder;
  margin-top: 30px;
  margin-bottom: 0;
  text-align: right;
  display: inline-block;
}

.objective{
  font-family: 'Inconsolata', monospace;
  text-align: left;
  font-size: 18px;
  width: 500px;
  height: 300px;
  margin-left:200px;
  margin-right: 100px;
  line-height: 25pt;
}

.sara-photo{
  float: left;
  margin-top: 100px;
  margin-right: 50px;
  margin-left: 50px;
  width: 250px;

}

.skills{
  float: right;
  width: 600px;
  margin-top: 0;
  text-align: justify;
}

table{
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  margin-right: 0;
  margin-top: 30px;
  display: inline-block;
  line-height: 25pt;
}

td{
  width: 135px;
}
.skills-header{
  color: #440A67;
  font-family: 'Oooh Baby', cursive;
  font-size: 30px;
  font-weight:bolder;
}

.skills-list{
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  line-height: 25pt;
  width: 130px;
}

.skills-icon{
  width: 250px;
  float: right;
  margin-top: 0;
  margin-right: 40px;
  margin-left: 20px;
}

.projects{
  width: 600px;
  height: 600px;
  margin-left: 450px;
  position: absolute;
  top:420px;
}

.projects-header{
  color: #440A67;
  font-family: 'Oooh Baby', cursive;
  font-size: 30px;
  font-weight:bolder;
  display: inline-block;
  position: absolute;
  top:0;
  left:230px;
}

.project-icon{
  width: 200px;
  margin-right: 500px;
  display: inline-block;
}
/*
.bee{
  position: relative;
}

.yellow-bee{
  width: 120px;
  position: absolute;
  top:-100px;
  left:130px;
  transform: scaleX(-1);
}

.yellow-bee:hover{
  transform: rotate(20deg) scaleX(-1);
}

.bee-path{
  width:350px;
  position: absolute;
  top:15px;
  left:258px;
}

.bee-path:hover{
  position: absolute;
  top:310px;
  right:30%;
}


.baby-zebra{
  width: 150px;
  position: absolute;
  top:450px;
  left:80%;
  transform: rotate(0deg) scaleX(-1);
 filter: drop-shadow(10px 5px 2px #F8A1D1);
}


.baby-zebra:hover{
    transform: scaleX(-1);
    left:75%;
}
*/

.bottom-container{
  height: 300px;
  width: 100%;
  position: relative;
  background-color: #835151;
}
